/********* Header **********/

body,
html {
  margin: 0;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background: #ffff;
  font-family: "Roboto", sans-serif;
  
}

h1 {
	font-size: 49px;
	color: #fff;
}

h2 {
  font: Bold 21px/25px Montserrat;
  color: #fff;
  background-color: #fa382f;
  padding: 0 4px;
 
}

h3 {
  font: Bold 21px/25px Montserrat;
  color: #fa382f;
  margin: 0px;
  text-align: center;
}

h4 {
  font: 400 17px/29px Roboto;
  color: #fa382f;
  text-align: left;
}

p {
  font-size: 12px;
  line-height: 2;
  color: #000000;
}

.hero-container {
	width: 100%;
  margin: 0;
	display: flex;
	flex-direction: column;
	/* align-items: center;
	justify-content: center; */
	height: 820px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/Deskpic.JPG);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
  /* background-attachment: fixed; */
	/* position: relative; */
	/* display: block;	 */

}

/********* Nav-bar**********/


nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
}

.hamburger {
  display: flex;
  width: 30px;
  height: 30px;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 24 px;
  padding: 10px;
  z-index: 2;
}
/*here the actual lines for the hamburger menu, same width as the container, but thinner*/

.hamburger div {
  /* width: 30px;
  height: 5px;
  color: #fff;
  border-radius: 5px; */
  line-height: 60px;
  width: 100%;
  /* background: #000; */
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: block;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: block;
}

.logo {
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 16px 46px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  z-index: 2  ;
}

.menu {
  position: fixed;
  width: 100%;
  line-height: 60px;
}

/* .nav-bar-top.scrolled {
  background-color: yellow !important;
  transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled .nav-link {
  color:blue;
} */

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

.nav-bar-top ul {
  background: black;
}

nav ul li {
  display: inline-block;
  padding: 16px 40px;;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

@media(max-width: 786px) {

  .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
  }

  nav ul {
        max-height: 0px;
        background: #000;
  }

  nav.black ul {
        background: #000;
  }

  .showing {
        max-height: 34em;
  }

  nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
  }



} 



/* .navbar {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  background-color: #dbc1bc; 
}   */
 
/* .content {
  width: 94%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.logo {
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 16px 46px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav.black ul {
  background: #000;
}

nav ul li {
  display: inline-block;
  padding: 16px 40px;;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

@media(max-width: 786px) {

  .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
  }

  nav ul {
        max-height: 0px;
        background: #000;
  }

  nav.black ul {
        background: #000;
  }

  .showing {
        max-height: 34em;
  }

  nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
  }

  .menu-icon {
        display: block;
  }
 
} */

/********* Company name and title**********/
.header-label {
  margin: 20px 0;
  align-self: center;
  /* margin: auto; */
  text-align: left;
  margin-left: 7%;

}

.header-label p {
  color: #fff;
  font: Bold 13px/15px Roboto;
}

.header-label h1 {
  color: #fff;
  font: Bold 40px/49px Montserrat;
}

/* .header-profile {
  width: 132px;
  height: 132px;
  border: 3px solid #fff;
  border-radius: 50%;
} */

.header-icons {
  display: flex;
  text-align: center;
  /* margin-top: 210px; */
  margin-top: 340px;
  margin-bottom: 10px;
   /* padding-top: 340px; */
  /* margin-left: 16px; */
  justify-content: left;
}

.hIconCircle {
  width: 49px;
  height: 49px;
  border: 3px solid #ffff;
  border-radius: 50%;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hIconImg {
  width: 22px;
  height: 22px;
}

/********* About me**********/
.intend {
  position: relative;
  top: -7px;
  font-weight: 700;
  color: #fa382f;
}

.circle {
  width: 7px;
  height: 7px;
  padding: 5px;
  position: relative;
  margin-right: 5px;
  top: -1px;
  background-color: #fa382f;
  border-radius: 50%;
  display: inline-block;
}

.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.grey {
  background: #f4f4f4;
}

/********* Boxes with tech, projects and thoughts **********/
.summary-box p,
.tech-box p {
  font: 400 17px/29px Montserrat;
  width: 80%;
  text-align: center;
}

.hero-text {
  font: 700 17px/19px Montserrat;
  color: black;
}

.projects,
.other-projects,
.thought {
  width: 80%;
  margin: 30px 0;
  
}

a:link {
  text-decoration: none;

}

.projects img {
  /* filter: brightness(50%); */
  width: 100%;
}

.projects-info p {
  font-size: 16px;
}

.language {
  background-color: #fddfe7;
  display: inline;
  margin: 10px;
  margin-left: 0px;
  padding: 4px;
}

.language p {
  margin: 0;
  text-align: center;
}


.other-projects .projects-info {
  width: 100%;
}

.thought img {
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.thought-date {
  font: 400 17px/29px Roboto;
  color: #fa382f;
  padding-top: 10px;
  margin: 0;
}

.thought-headline p {
  font: 700 21px/32px Roboto;
  margin: 0;
}

.thought-teaser p {
  text-align: left;
  font: 400 17px/32px Roboto;
}

.more-thoughts {
  width: 80%;
}

.more-thoughts span {
  font: 500 17px/29px Roboto;
  color: red;
}

.more-thoughts p {
  font: 700 17px/29px Roboto;
}

/********* Skills **********/

.skills {
  display: flex;
  flex-flow: wrap;
  width: 80%;
}

.list-header {
  font: 700 17px/29px Roboto;
  color: #fa382f;
  padding-top: 10px;
}

.skills-box ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  width: 30%;
  flex-grow: 1;
  text-align: center;
}

/********* For more - links to social media **********/

.icons {
  display: flex;
  text-align: center;
  padding: 20px 0;
}

.iconCircle {
  width: 59px;
  height: 59px;
  border: 3px solid #fa382f;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconImg {
  width: 22px;
  height: 22px;
}

/******* Footer *********/

footer {
  top: 4875px;
  left: 36px;
  width: 378px;
  height: 270px;
  font-size: 15px;
  margin-right: 35px;
  background-color: blue;
  color: #ffffff;
}
.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.contact h2 {
  background-color: transparent;
}

.contact h3 {
  color: #fff;
}

.contact p {
  color: #fff;
}
/*******MEDIA QUERIES *********/

@media only screen and (min-width: 650px) {
  /* For tablets: */
	.header-icons,
	.header-profile {
		align-self: flex-end;
  }
  .header-label {
    text-align: left;
  }

	/* .header-profile {
		margin-bottom: -50px;
	} */

	.box {
		padding: 60px 0;
	}

	.summary-box p {
		text-align: left;
	}

	.featured-projects,
	.my-thoughts {
		width: 80%;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.projects,
	.thought {
		width: 40%;
		flex-grow: 1;
		margin: 20px;
	}

	.skills ul {
		width: 20%;
  }
  

}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  /* .header-profile, */
  .header-icons{
    align-self: center;
    margin-left: 0px;
    /* margin-right: 30px; */
  }
  
  .header-label {
    text-align: left;
  }
  
  section .container {
    margin: 0px;
    display: contents;
  }

  header .logo {
    /* padding: 25px 10px; */
    width: 340px;
  }

  .hamburger div {
    display: none;
}
nav {
  display: inline-block;
}
.hamburger {
  display: none;
}

} 
