* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  max-width: 100%;
  /* overflow-x: hidden; */
  background: #ffff;
  font-family: "Roboto", sans-serif;
  
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: poppins;
}


h1 {
	font-size: 78;
	color: #fff;
}

h2 {
  font: Bold 21px/25px Montserrat;
  color: #fff;
  background-color: #fa382f;
  padding: 0 4px;
 
}

h3 {
  font: Bold 21px/25px Montserrat;
  color: #fa382f;
  margin: 0px;
  text-align: center;
}

h4 {
  font: 400 17px/29px Roboto;
  color: #fa382f;
  text-align: left;
}

p {
  font-size: 12px;
  line-height: 2;
  color: #000000;
}

.hero-container {
	width: 100%;
  margin: 0;
	display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('assets/computer-electronics-hands-laptop-374768.jpg');
  /* background: url('assets/computer-electronics-hands-laptop-374768.jpg'); */
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top;
  height: 100vh;
}

/*********Navbar***********/

#main {
  transition: margin-left .5s;
  /* padding: 20px; */
}

#menu-area {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  /* padding: 13px 20px; */
  padding: 15px 33px;
  position: fixed;
  width: 100%;
  top: 0;
  transition: background 0.5s;
 
}

.navbar-desktop {
  float: right;
  width: 500px;
  justify-content: space-around;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  /* text-shadow: 0 2px 5px rgba(8, 84, 94, 0.884); */
  
}

#menu-area .logo {
  float: left;
  height: 60px;
  transition: height 0.5s;
  padding-top: 10px;
  display: contents;


}

#menu-area .logo a {
  text-decoration: none;
  /* color: #262626; */
  color: white;
  /* text-shadow: 0 2px 5px rgba(8, 84, 94, 0.884); */
  align-self: center;
  flex: none;
}
#menu-area ul {
  list-style: none;
  display: none;
}
#menu-area ul li a {
  text-decoration: none;
  /* color: #262626; */
  color: white;
}
/* .banner-area {
  background: url('assets/computer-electronics-hands-laptop-374768.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top;
  height: 100vh;
} */
.banner-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.banner-text h2{
  font-family: 'poppins', sans-serif;
  font-size: 50px;
  color: white;
}
.banner-text a {
  display: flex;
  text-decoration: none;
  background: #b48685;
  /* background: #fddfe7; */
  /* background: #f27064; */
  color: #2f4f4f;
  /* background: #262626;
  color: #fff; */
  padding: 15px 30px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 50px;
}
/* .wrapper {
  padding: 70px;
} */
#menu-area.cus-nav {
  /* background: #f27064; */
  /* background: #262626; */
  background: #EEE2DF;
  /* background: white; */
  /* background: #dbc1bc; */
  /* background: #fddfe7; */
  /* background: #fa382f; */
  z-index: 999;
}
#menu-area.cus-nav a {
  /* color: #000; */
  color: #985857;
  /* text-shadow: 0 2px 5px rgba(8, 84, 94, 0.884); */
}

#menu-area.cus-nav .logo img {
  height: 65px;
}

/******** Hamburger *********/

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  /* border: 3px solid #fff; */
  
}

.menu-btn__burger {
  width: 40px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(8, 84, 94, 0.884);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(8, 84, 94, 0.884);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);

}

/****** SideBar *******/ 
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #EED7C5;
  /* background-color: #fddfe7; */
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #C97C5D;
  display: block;
  transition: 0.3s;

}

span {
  color: #fff;
  /* text-shadow: 0 2px 5px rgba(8, 84, 94, 0.884); */
  font-size: xx-large;
}

.sidenav a:hover{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Media Queries*/
    /*Show the navbar and hide the hamburger in this size*/
    /*Justify content;Spread the content with space between. x*/
    
@media only screen and (min-width: 768px) {
  /* #menu-area{
    padding: 15px 60px;
  } */
  #menu-area ul{
    display: contents;
 
  }

  .menu-btn {
    display: none;
  }

}

/********* Company name and title**********/
.header-label {
  margin: 20px 0;
  align-self: center;
  /* margin: auto; */
  text-align: left;
  margin-left: 7%;
  /* text-shadow: 0 2px 5px rgba(8, 84, 94, 0.884); */

}

.header-label p {
  color: #fff;
  font: Bold 13px/15px Roboto;
  /* text-shadow: 0 2px 5px rgba(8, 84, 94, 0.884); */
}

.header-label h1 {
  color: #fff;
  font: Bold 50px/60px Montserrat;
  /* font: Bold 40px/49px Montserrat; */
  /* text-shadow: 0 2px 5px rgba(8, 84, 94, 0.884); */
}

.header-label a{
  display: flex;
  text-decoration: none;
  background: #fff;
  color: #b48685;
  padding: 15px 30px; 
  display: inline-block;
  margin-top: 20px;
  border-radius: 50px;
}

.header-label a:hover{
  background: #b48685;
  color: #EED7C5;
}

.header-profile {
  width: 132px;
  height: 132px;
  border: 3px solid #fff;
  border-radius: 50%;
  align-self: center;
}

.header-icons {
  display: flex;
  align-self: center;
  /* text-align: center; */
  margin-top: 140px;
  /* margin-top: 210px; */
  /* margin-top: 340px; */
  margin-bottom: 10px;
   /* padding-top: 340px; */
  /* margin-left: 16px; */
  justify-content: left;
}

.hIconCircle {
  width: 49px;
  height: 49px;
  border: 3px solid #ffff;
  border-radius: 50%;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hIconImg {
  width: 22px;
  height: 22px;
}


/********* About me**********/
.intend {
  position: relative;
  top: -7px;
  font-weight: 700;
  color: #fa382f;
}

.circle {
  width: 7px;
  height: 7px;
  padding: 5px;
  position: relative;
  margin-right: 5px;
  top: -1px;
  background-color: #fa382f;
  border-radius: 50%;
  display: inline-block;
}

.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.grey {
  background: #f4f4f4;
}

/********* Boxes with tech, projects and thoughts **********/
.summary-box p,
.tech-box p {
  font: 400 17px/29px Montserrat;
  width: 80%;
  text-align: center;
}

.hero-text {
  font: 700 17px/19px Montserrat;
  color: black;
}

.projects,
.other-projects,
.thought {
  width: 80%;
  margin: 30px 0;
  
}

a:link {
  text-decoration: none;

}

.projects img {
  /* filter: brightness(50%); */
  width: 100%;
}

.projects-info p {
  font-size: 16px;
}

.language {
  background-color: #fddfe7;
  display: inline;
  margin: 10px;
  margin-left: 0px;
  padding: 4px;
}

.language p {
  margin: 0;
  text-align: center;
}


.other-projects .projects-info {
  width: 100%;
}

.thought img {
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.thought-date {
  font: 400 17px/29px Roboto;
  color: #fa382f;
  padding-top: 10px;
  margin: 0;
}

.thought-headline p {
  font: 700 21px/32px Roboto;
  margin: 0;
}

.thought-teaser p {
  text-align: left;
  font: 400 17px/32px Roboto;
}

.more-thoughts {
  width: 80%;
}

.more-thoughts span {
  font: 500 17px/29px Roboto;
  color: red;
}

.more-thoughts p {
  font: 700 17px/29px Roboto;
}

/********* Skills **********/

.skills {
  display: flex;
  flex-flow: wrap;
  width: 80%;
}

.list-header {
  font: 700 17px/29px Roboto;
  color: #fa382f;
  padding-top: 10px;
}

.skills-box ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  width: 30%;
  flex-grow: 1;
  text-align: center;
}

/********* For more - links to social media **********/

.icons {
  display: flex;
  text-align: center;
  padding: 20px 0;
}

.iconCircle {
  width: 59px;
  height: 59px;
  border: 3px solid #fa382f;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconImg {
  width: 22px;
  height: 22px;
  
}

/******* Footer *********/

footer {
  top: 4875px;
  left: 36px;
  width: 378px;
  height: 270px;
  font-size: 15px;
  margin-right: 35px;
  background-color: #985857;
  /* background-color: rgb(81, 63, 73); */
  color: #ffffff;
}
.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.contact h2 {
  background-color: transparent;
}

.contact h3 {
  color: #fff;
}

.contact p {
  color: #fff;
}
/*******MEDIA QUERIES *********/

@media only screen and (min-width: 650px) {
  /* For tablets: */
	.header-icons,
	.header-profile {
		align-self: flex-end;
  }
  .header-label {
    text-align: left;
  }

	.header-profile {
		margin-bottom: -50px;
	}

	.box {
		padding: 60px 0;
	}

	.summary-box p {
		text-align: left;
	}

	.featured-projects,
	.my-thoughts {
		width: 80%;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.projects,
	.thought {
		width: 40%;
		flex-grow: 1;
		margin: 20px;
	}

	.skills ul {
		width: 20%;
  }
  

}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .header-profile,
  .header-icons{
    align-self: center;
    margin-left: 0px;
    /* margin-right: 30px; */
  }

  .header-label h1 {
    color: #fff;
    font: Bold 78px/88px Montserrat;
    /* font: Bold 40px/49px Montserrat; */
    /* text-shadow: 0 2px 5px rgba(8, 84, 94, 0.884); */
  }
  
  .header-label {
    text-align: left;
  }
  
  section .container {
    margin: 0px;
    display: contents;
  }

  header .logo {
    /* padding: 25px 10px; */
    width: 340px;
    
  }

  .hamburger div {
    display: none;
}
nav {
  display: inline-block;
}
.hamburger {
  display: none;
}

} 
