/* Header */

body,
html {
	margin: 0;
	height: 100%;
	max-width: 100%;
  overflow-x: hidden;
  background: #ffff;
  font-family: "Roboto", sans-serif;
}

h1 {
	font-size: 49px;
	color: #fff;
}

h2 {
  font: Bold 21px/25px Montserrat;
  color: #fff;
  background-color: #fa382f;
  padding: 0 4px;
}

h3 {
  font: Bold 21px/25px Montserrat;
  color: #fa382f;
  margin: 0px;
  text-align: center;
}

h4 {
  font: 400 17px/29px Roboto;
  color: #fa382f;
  text-align: left;
}

p {
  font-size: 12px;
  line-height: 2;
  color: #000000;
}

.hero-container {
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 820px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/Deskpic.JPG);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
  background-attachment: fixed;
	position: relative;
	display: block;

}

/********* Nav-bar**********/
	/*this div becomes the container for the header  display flex and the items are centered*/
	/*padding on both of the sides, the horisontal parts to make space from the boarder*/
	
.nav-bar {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
	height: 80px;
	display: flex;
	align-items: center;
	/*position: relative;*/
	justify-content: space-evenly;
	padding: 0px 16px;
	overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.nav-bar p {
	color: #fff;
}
/*nav bar becomes hamburger model*/
/*this div becomes the container for the hamburger menu,  display flex*/
/*same height and width to make it a square*/
/*flex/direction column to make them separate*/
/*justify content to make them spread out / space between the lines*/
/*margin right for space between the hamburger and logo*/

.nav-bar img {
	display: none;
}

.hamburger {
	display: flex;
	width: 30px;
	height: 30px;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 24 px;
}
/*here the actual lines for the hamburger menu, same width as the container, but thinner*/

.hamburger div {
	width: 30px;
	height: 5px;
	background: #fff;
	border-radius: 5px;
}

.nav-bar img {
	width: 180px;
	padding: 0px 15px;
}
/*the nav is hidden on the small screen*/

nav {
	display: none;
}
/*links get color blue by default. we make them white and no line under the text*/
/*margin left to give space between the menu links and not mess with the outer edges*/

nav a {
	color: #fff;
	text-decoration: none;
	align-items: right;
	margin-left: 16px;
	margin-right: 16px;
}

.header-label {
  margin: 20px 0;
}

.header-label p {
  color: #fff;
  font: Bold 13px/15px Roboto;
}

.header-label h1 {
  color: #fff;
  font: Bold 40px/49px Montserrat;
}

/* .header-profile {
  width: 132px;
  height: 132px;
  border: 3px solid #fff;
  border-radius: 50%;
} */

.header-icons {
  display: flex;
	text-align: center;
	margin-top: 30px;
    justify-content: center;
}




.hIconCircle {
  width: 49px;
  height: 49px;
  border: 3px solid #ffff;
  border-radius: 50%;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hIconImg {
  width: 22px;
  height: 22px;
}

/*******MEDIA QUERIES *********/

@media only screen and (min-width: 600px) {
  /* For tablets: */
	.header-icons,
	.header-profile {
		align-self: flex-end;
	}

	/*.hero-container {
		height: 1025px;
		background-position: bottom;
	}*/
	/* .hero-container {
		padding: 420px 0;
}  */

	.nav-bar {
		justify-content: space-between;
	}

	
	nav {
		display: inline-block;
	}
	.hamburger {
		display: none;
}
	/* .header-profile {
		margin-bottom: -50px;
	} */

	/* .box {
		padding: 60px 0;
	} */

	/* .summary-box p {
		text-align: left;
	} */

	/* .featured-projects,
	.my-thoughts {
		width: 80%;
		flex-direction: row;
		flex-wrap: wrap;
	} */

	/* .projects,
	.thought {
		width: 40%;
		flex-grow: 1;
		margin: 20px;
	} */

	/* .skills ul {
		width: 20%;
	} */

}

@media only screen and (min-width: 768px) {
  /* For desktop: */
	.header-icons,
	.header-profile {
		align-self: flex-end;
	}
	/*.hero-container {
		height: 1030px;
		bottom: initial;
	}*/
	/* .hero-container {
		padding: 395px 0;
	}  */
	.nav-bar {
		padding: 15px;
    height: 72px;
    top: 0;
    z-index: 100;
	}
}  