/********* Header **********/

body,
html {
  margin: 0;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background: #ffff;
  font-family: "Roboto", sans-serif;
}

h1 {
	font-size: 49px;
	color: #fff;
}

h2 {
  font: Bold 21px/25px Montserrat;
  color: #fff;
  background-color: #fa382f;
  padding: 0 4px;
}

h3 {
  font: Bold 21px/25px Montserrat;
  color: #fa382f;
  margin: 0px;
  text-align: center;
}

h4 {
  font: 400 17px/29px Roboto;
  color: #fa382f;
  text-align: left;
}

p {
  font-size: 12px;
  line-height: 2;
  color: #000000;
}

.hero-container {
	width: 100%;
  margin: 0;
	display: flex;
	flex-direction: column;
	/* align-items: center;
	justify-content: center; */
	height: 820px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/Deskpic.JPG);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
  /* background-attachment: fixed; */
	/* position: relative; */
	/* display: block;	 */

}

/********* Nav-bar**********/


/* 
.topnav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #dbc1bc ;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  
}



.topnav a {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding: 21px 20px;

}

.topnav h1 {
  color: #fff;
  font: Bold 20px/29px Montserrat;
  display: inline-block;
  margin-left: 7%;
}

.topnav a:hover {
  background-color: #dbc1bc;
  color: slategrey;
}

.topnav a.active {
  background-color: #f8d3c0;
  color: slategrey;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

 
}
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  
} */

/********* Company name and title**********/
.header-label {
  margin: 20px 0;
  align-self: center;
  margin: auto;
  text-align: left;
  margin-left: 7%;

}

.header-label p {
  color: #fff;
  font: Bold 13px/15px Roboto;
}

.header-label h1 {
  color: #fff;
  font: Bold 40px/49px Montserrat;
}

/* .header-profile {
  width: 132px;
  height: 132px;
  border: 3px solid #fff;
  border-radius: 50%;
} */

.header-icons {
  display: flex;
	text-align: center;
  margin-top: 112px;
  justify-content: center;
}

.hIconCircle {
  width: 49px;
  height: 49px;
  border: 3px solid #ffff;
  border-radius: 50%;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hIconImg {
  width: 22px;
  height: 22px;
}

/********* About me**********/
.intend {
  position: relative;
  top: -7px;
  font-weight: 700;
  color: #fa382f;
}

.circle {
  width: 7px;
  height: 7px;
  padding: 5px;
  position: relative;
  margin-right: 5px;
  top: 2px;
  background-color: #fa382f;
  border-radius: 50%;
  display: inline-block;
}

.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.grey {
  background: #f4f4f4;
}

.summary-box p,
.tech-box p {
  font: 400 17px/29px Montserrat;
  width: 80%;
  text-align: center;
}

.hero-text {
  font: 700 17px/19px Montserrat;
  color: black;
}

.projects,
.other-projects,
.thought {
  width: 80%;
  margin: 30px 0;
  
}

a:link {
  text-decoration: none;

}

.projects img {
  /* filter: brightness(50%); */
  width: 100%;
}

.projects-info p {
  font-size: 16px;
}

.language {
  background-color: #fddfe7;
  display: inline;
  margin: 10px;
  margin-left: 0px;
  padding: 4px;
}

.language p {
  margin: 0;
  text-align: center;
}

/*******MEDIA QUERIES *********/

@media only screen and (min-width: 650px) {
  /* For tablets: */
	.header-icons,
	.header-profile {
		align-self: flex-end;
  }
  .header-label {
    text-align: left;
  }

	/* .header-profile {
		margin-bottom: -50px;
	} */

	.box {
		padding: 60px 0;
	}

	.summary-box p {
		text-align: left;
	}

	.featured-projects,
	.my-thoughts {
		width: 80%;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.projects,
	.thought {
		width: 40%;
		flex-grow: 1;
		margin: 20px;
	}

	.skills ul {
		width: 20%;
	}

}

@media only screen and (min-width: 768px) {
  /* For desktop: */
	.header-icons,
	.header-profile {
    align-self: flex-end;
    margin-right: 30px;
	}

  
  .header-label {
    text-align: left;
  }

}  